<div class="container" *ngIf="eduCa">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre del Titulo</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="eduCa.nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="eduCa.descripcionEdu" required>
                </div>
                <button class="btn btn-success">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>