<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Fotoperfil3.jpeg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Decima Abregu Martin Julian</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Hola!! Mi nombre es Julian y soy un desarrollador web de Argentina. Desde niño siempre me gustaron las computadoras, los videojuegos arcade y de consola. Soy una persona muy tranquila, paciente y trabajadora que busca nuevos desafíos. Actualmente estoy estudiando un Profesorado en Informática y pretendo seguir formándome en lo que más me gusta y me apasiona. En el Desarrollo Web, mis herramientas preferidas son HTML, CSS y Javascript.</p>
            </span>
        </div>    
    </div>
</div>


