<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Fotoperfil3.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Decima Abregu Martin Julian</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aliquid autem, iusto necessitatibus quibusdam unde ipsum dolor provident, eum vitae, itaque illum cupiditate sed nisi explicabo labore adipisci eos maiores.</p>
        </span>
    </div>    
</div>

